@media(max-width: 70rem) {
    .name-header {
        margin-bottom: 6px;
        margin-top: -6px !important;
    }

    .ui.red.ribbon.label {
        font-size: 8px;
    }

    .ui.four.column.grid {
        font-size: 12px;
        display: grid;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ui.four.column.grid .column {
        width: 90%;
        text-align: center;
    }

    .ui.top.attached.segment {
        line-height: 0;
    }

    .topButton {
        font-size: 10px !important;
    }

    .ui.buttons {
        margin: 0 auto;
        text-align: center;
    }

    .search-box {
        font-size: 10px !important;
        flex-grow: 1 !important;
    }

    .no-news-found-label {
        padding-top: 10% !important;
    }

    .loading-image {
        margin-top: 20%;
        margin-left: 5%;
    }

}

@media(min-width: 70rem) {
    .loading-image {
        margin-top: 5%;
        margin-left: 5%;
    }
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }